#covid{
    background: url('../../assets/green_bg.svg');
    min-height: 50vh;
}
.text-underline{
    border-bottom: 2px solid #fff;
}
.covid {
    background-color: #e5e5e5;
  }
.main-heading{
    font-weight: 900;
    font-size: 64px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-heading{
    font-size: 18px;
}
.btn-covid-purple{
    background: #965AA2;
    border-radius: 37.5px;
    padding: 0.7rem 2rem;
}
.btn-covid-blue{
    background: #3DACEB;
    border-radius: 37.5px;
    padding: 0.7rem 2rem;
}
@media(max-width:768px){
    #covid{
        background: url('../../assets/green_bg.svg');
        min-height: 65vh;
    }
    .sub-heading{
        font-size: 15px;
    }
}