@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
/* Srollbar */
::-webkit-scrollbar {
  width: 10px;
}

:root {
  --primaryColor: #264861;
  --secondaryColor: #04B1ED;
  --tertiaryColor: #e0f6ff;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #3DACEB;
  border-radius: 10px;
}

.active{
  background: #3DACEB;
  color: white !important;
}
code {
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden !important;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border: none !important;
}
.navbar-light .navbar-toggler:focus {
  color: rgba(0, 0, 0, 0.55);
  border: none !important;
  outline: none !important;
  box-shadow: none;
}

.rbc-btn-group button {
  background: var(--tertiaryColor) !important;
  color: rgb(0, 0, 0);
  border-radius: 4px;  
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}